<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/pm_db</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">53721456</property>
        <property name="current_session_context_class">thread</property>
        <property name="connection.pool_size">150</property>
        <property name="show_sql">false</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

        <mapping class="entity.user.User"/>
        <mapping class="entity.user.UserAccess"/>
        <mapping class="entity.user.UserSettings"/>
<!--        <mapping class="entity.user.UserCurrency"/>-->
        <mapping class="entity.finance.category.Category"/>
        <mapping class="entity.task.Task"/>
        <mapping class="entity.task.TaskSettings"/>
        <mapping class="entity.task.TaskStatistic"/>
        <mapping class="entity.task.TimeLog"/>
        <mapping class="entity.goal.Goal"/>
        <mapping class="entity.goal.GoalMember"/>
        <mapping class="entity.calendar.CalendarItem"/>
        <mapping class="entity.finance.accounts.Account"/>
        <mapping class="entity.finance.accounts.AccountPoint"/>
        <mapping class="entity.finance.buy.BuyList"/>
        <mapping class="entity.finance.buy.BuyListItem"/>
        <mapping class="entity.finance.transactions.Transaction"/>
        <mapping class="entity.finance.transactions.TransactionDetail"/>
        <mapping class="entity.finance.transactions.TransactionPoint"/>
        <mapping class="entity.UserSystemCategory"/>
        <mapping class="entity.finance.accounts.AccountMember"/>

    </session-factory>
</hibernate-configuration>