.tree-view-root{
    background-color: #b9dff6;
    height: 100%;
    width: 220pt;
    padding: 4pt;
}
.tree-view-content{
    background: transparent;
    border-left: dotted gray 1.2pt;
    padding-left: 8pt;
    margin-left: 8pt;
    list-style: circle;
}
.tree-view-item{
    display: block;
    background: transparent;
    padding-left: 4pt;

}