.date-picker .v-btn--flat,.date-picker .v-date-picker-header__value{
	display: inline-block;
}

.date-picker .v-date-picker-title{
	height: 36px;
}
.date-picker .v-date-picker-header{
	text-align: center;
}
.date-picker .v-date-picker-table .v-btn {
	width: 100%;
}
.date-picker .v-date-picker-table .v-date-picker-table__current{
	border: solid green;
}
.date-picker .v-date-picker-table .v-btn--active{
	outline: none;
	background-color: orange;
}

