.board-cell{
    width: 33.33%;
}
.board{
    border: solid black 1pt;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
.button-holder{
    padding-right: 2pt;
}
.board-title-holder{
    background-color: #e6ffe6;
}
.board-title{

    padding: 0 4pt;
    font-weight: bold;
}
.board-content-holder{
    background-color: cadetblue;
    height: 100%;
    vertical-align: top;
}
.board-content{
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}
.border-item{
    padding: 2pt 4pt;
    border: solid #a7a766;

    margin: 2pt;
    border-radius: 3pt;
}
.border-item-path{
    font-size: 8pt;
}
.todo-border{

}
.todo-border .border-item{
    background-color: #ffeece;
}
.progressing-border{

}
.progressing-border .border-item{
    background-color: #c6fb8c;
}
.done-border{

}
.border-holder{
    height: 100%;
    width: 100%;
    background-color: orange;
    display: inline-block;
}
.doer{
    float: right;
}