* {
    font-family: SegouUI, monospace;
    color: #616161;
    background-color: #fafffa;
    user-select: none;
}
body{
    margin: 0;
}
button, input{
    border: solid green 1.5pt;
    border-radius: 10pt;
}
input{
    padding: 0 6pt;
}
button:hover{
    box-shadow: 0 0 4pt 0 gray;
}

button:focus{
    outline: none;
}
input:focus{
    outline: none;
}
input[wrong]{
    border-color: orangered;
}
.coverlet{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 127, 255, 0.11);
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 84, 169, 0.36);
}
.menu-item span{
    background-color: transparent;
}
.title{
    font-size: 20pt;
    font-weight: bold;
    background-color: #e6ffe6;
    padding: 8pt;
    border-bottom: solid gray 2pt;
}
.title span{
    font-style: italic;
    background-color: transparent;
}
table{
    border-collapse: collapse;
}
/*table, tr, td{*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*border: 0;*/
    /*border: none;*/
/*}*/
.alert{
    background-color: transparent;
    color: orangered;
}
.container{
    width: fit-content;
    border-radius: 8pt;
    box-shadow: 0 0 6pt 2pt gray;
    padding: 6pt;
    margin: 8pt;
}