.finance-page{
    display: flex;
    flex-direction: row;
}
.colon{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.33%;
}
.colon-cell{
    flex: 0 1 auto;
    height: 100%;
}
.central{
    border-left: solid gray 1px;
    border-right: solid gray 1px;
}
.cell-header{
    background-color: #41b883;
}
.header-wrapper{
    padding: 2px 4px;
    background-color: transparent;
}
.cell-header span{
    background-color: transparent;
}
.account-item{
    padding: 2px;
}
.account-item:hover{
    background-color: #e2e2e2;
}
.account-item *{
    background-color: transparent;
}
.account-title{

    position: relative;
}
.account-menu{
    position: absolute;
    right: 0;
    top: 0;
}
.account-title .account-menu{
    display: none;
}
.account-title:hover .account-menu{
    display: block;
}