.calendar-item{
    border: dotted gray 1px;
    margin: 2px 0;
    padding: 4px 8px;
    position: relative;
}
.filled{
    background-color: #3788d8;
}
.filled *{
    background-color: transparent;
}
.calendar-item-menu{
    background-color: whitesmoke;
    border-radius: 12pt;
    padding: 0 12px;
    color: orangered;
    float: right;
}
.calendar-item .calendar-item-menu{
    display: none;
}
.calendar-item:hover .calendar-item-menu{
    display: inline-block;
}
.calendar-tile{
    display: inline-block;
    background-color: #3788d8;
    border: dashed 1px white;
    margin-left: 2px;
    position: absolute;
    z-index: 2;
}
