.calendar-item{
    border: dotted gray 1px;
    margin: 2px 0;
    padding: 4px 8px;
}
.calendar-item-remove{
    color: orangered;
    float: right;
}
.calendar-item .calendar-item-remove{
    display: none;
}
.calendar-item:hover .calendar-item-remove{
    display: inline-block;
}
.filled{
    background-color: #3788d8;
}
.filled *{
    background-color: transparent;
}