.body-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.menu-holder{
    border-right: solid gray 1px;
}
.title-holder{
    flex: 1 0 auto;
    display: flex;
    padding: 0 8px;
}
.timer-holder{
    flex: 0 0 auto;
}
.timer-holder * {
    background-color: transparent;
}
.timer-wrapper{
    padding: 0 4px;
    margin: 0 8px;
    border: solid gray 1px;
}
.personal-holder{
    flex: 0 0 auto;
}
.title-content{
    margin: 0 2px;
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 4pt;
    border-bottom: solid gray 1pt;
    font-size: 10pt;
    flex: 0 0 auto;
    height: 16px;
}
.body{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.content-holder{
    flex: 1 1 auto;
    height: calc(100vh - 43px);
}
.footer{
    border-top: solid gray 1pt;
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    font-size: 10pt;
}
.navigation-menu{

}
.navigation-menu div{
    padding: 4px 8px;
    border-bottom: solid gray 2px;
}
.navigation-menu div:hover{
    background-color: #c9c9c9;
    border-bottom: solid orange 2px;
}
.control-menu{
    position: relative;
    display: inline-block;
}
.control-menu:hover{
    background-color: lightblue;
}
.down-menu::after{
    content: '\25BC';
}
.control-menu:hover .control-menu-content{
    display: block;
}
.control-menu-content{
    position: absolute;
    display: none;
    min-width: 100%;
    background-color: white;
}
.control-menu-item{
    padding: 4pt;
    border-bottom: dashed gray 1pt;
}
.control-menu-item:hover{
    background-color: lightblue;
}
.tooltip{
    background-color: #3788d8;
    color: white;
    position: absolute;
    top: 100%;
    padding: 4pt;
    width: 120pt;
    overflow: hidden;
    z-index: 999;
}

.tooltip ul, li{
    background-color: transparent;
}
.tooltip ul{
    padding: 0;
}
.tooltip li{
    list-style: none;
}
.modal-buttons{
    width: 100%;
    display: inline-block;
    text-align: center;
}