.goal-page{
    /*display: flex;*/
}
.goal-item{
    margin: 8px;
    border: solid 2px;
    border-radius: 8px;
    overflow: hidden;
    height: fit-content;
    height: -moz-fit-content;
    min-width: 200pt;
}
.goal-item:hover{
    box-shadow: 0 0 4px 2px gray;
}
.goal-header{
    font-size: 14pt;
    font-weight: bold;
    background-color: #3788d8;
}
.goal-header *{
    color: whitesmoke;
}
.goal-title{
    /*display: flex;*/
    /*width: 100%;*/
    text-align: center;
}
.goal-content{
    padding: 0 8px;
}
.goal-header span{
    /*color: gray;*/
    background-color: transparent;
}
.goal-title-buttons{
    /*position: absolute;*/
    display: inline-block;
    float: right;
    padding: 0 4px;
    background: transparent;
}