.login-page{
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}
.login-welcome{
    width: 60%;
    flex: 1 0 auto;
    border-right: solid gray 1px;
}
.welcome-text{
    font-size: 14pt;
    /*width: 50%;*/
    line-height: 24pt;
    margin: auto;
    overflow-y: scroll;
    height: 100%;
    padding: 0 25%;
}
.login-content{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
    padding: 12px;
    margin: auto;
    vertical-align: center;
    justify-items: center;
}
.login-content div{
    margin-bottom: 14px;
    width: 100%;

}
