.login-page{
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}
.login-welcome{
    width: 60%;
    flex: 1 0 auto;
    background-color: orange;
}
.login.content{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
}
.login-content{
    /*position: absolute;*/
    padding: 12px;
    margin: auto;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.error{
    color: orangered;
}
.error *{
    border-color: orangered;
}