* {
    user-select: none;
    -moz-user-select: none;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    background-color: #f0fff8;
}
html,
body {
    height: 100%;
}
body{
    margin: 0;
    overflow: hidden;
}
input{
    width: 100%;
    border: solid #c1c1c1 2px;
}
input[type=checkbox], input[type=radio]{
    width: 0;
}
.load-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    z-index: 5;
}
.loader-holder{
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
}
.loader {
    border: 4px solid #dbdbdb; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.5s linear infinite;
    background-color: transparent;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.text-button:hover{
    text-shadow: 0 0 6px #282828;
}
.edit-button{
    background-image: url("../images/buttons/edit.svg");
    background-size: 10px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
}
.delete-button{
    background-image: url("../images/buttons/close.svg");
    background-size: 10px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
}
.full-size{
    width: 100%;
    height: 100%;
}
.item-container{
    overflow-y: scroll;
    height: 100%;

}
.item-container-wrapper{
    padding: 2px 4px 2px 8px;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(254, 226, 142);
}
::-webkit-scrollbar-thumb:hover {
    background: #e3a800;
}
.custom-data-list{
    width: 100%;
    background-color: whitesmoke;
    position: absolute;
    padding-bottom: 8px;
    border: solid gray 1px;
    border-top: none;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 10;
}
.custom-data-list-item{
    border-bottom: dashed gray 1px;
    padding: 4px;
    font-size: 10pt;
}
.custom-data-list-item:hover{
    background-color: #d0d0d0;
}

button{
    min-width: 60pt;
}
.error{
    color: orangered;
}
.error *{
    border-color: orangered;
}