.room{
    display: flex;
    flex-direction: row;
}
.room-colon{
    flex: 1 0 auto;
    background-color: whitesmoke;
    margin: 0 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.room-colon-cell{
    padding: 4px;
    margin: 2px;
    border: dashed gray 1px;
    flex: 1 0 auto;
}
.cell-title{
    width: 100%;
    background-color: #3788d8;
    color: white;
    text-align: center;
}