.transaction-type{
    display: inline-block;
    width: 90px;
    font-size: 10pt;
    text-align: center;
    border-left: solid gray 1px;
}
.detail-list{
    border: solid gray 1pt;
    width: 100%;
    height: 140pt;
    overflow-y: scroll;
    padding: 2px;
}
.detail-header{
    width: 100%;
    text-align: center;
    background-color: #41b883;
}
.detail-item{
    border-bottom: dashed gray 1pt;
    margin-bottom: 2px;
    position: relative;
}
.detail-menu{
    position: absolute;
    right: 0;
    padding-left: 16px;
    padding-right: 8px;
    border-bottom: solid gray 1px;

}
.detail-item .detail-title .detail-menu{
    display: none;
}
.detail-item:hover .detail-title .detail-menu{
    display: block;
}
.edited{
    color: white;
}
.edited * {
    background-color: darkgreen;
}
.transaction-table{
    border-collapse: collapse;
}
.transaction-table tr{
    border-bottom: solid gray 1pt;
    padding-bottom: 8pt;
}
.transaction-detail-list{
    height: 100pt;
    overflow-y: scroll;
    border: solid gray 1pt;
    padding: 0 4pt;
}
.add-to-path{
    border: dashed var(--secondary-color, gray) 1pt;
    padding: 0 6pt;
    float: right;
    border-radius: 2pt;
}