.tree-view{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 600px;
    height: 100%;
}
.tree-item{

}
.tree-parent{
    background-color: #3498db;
    border-bottom: solid white;
    color: white;
    font-weight: bold;
    padding: 2pt 4pt 2pt 4pt;
}
.tree-parent .tree-menu{
    border-color: white;
}
.tree-menu{
    border: solid 1px;
    float: right;
    border-radius: 8pt;
    padding: 0 4pt 0 4pt;
}
.tree-item .tree-menu{
    display: none;
}
.tree-item:hover .tree-menu{
    display: block;
}
.tree-item a, span, .tree-menu{
    background-color: transparent;
}

.tree-children{
    padding-left: 12pt;
    padding-bottom: 2pt;
    border-left: dashed gray 1px;
    border-bottom: dashed gray 1px;
}
.task-done::before, .task-done::after{
    content: '  ';
}
.task-done{
    color: gray;
    text-decoration: line-through;
}