<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        >
    <!-- This is only here because Maven requires it to make a war. -->
    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>Servlet4Push</web-resource-name>-->
            <!--<url-pattern>/*</url-pattern>-->
            <!--<http-method>GET</http-method>-->
            <!--<http-method>POST</http-method>-->
        <!--</web-resource-collection>-->
        <!--<userAccess-data-constraint>-->
            <!--<transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
        <!--</userAccess-data-constraint>-->
    <!--</security-constraint>-->
</web-app>